@import url("color.css");

* {
  margin: 0;
  padding: 0;
  background-color: var(--bg--main-color);
  color: var(--text-main-color);
}

.background {
  padding: 60px;
}

.home_btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: var(--text-main-color);
}

.home_btn:hover {
  cursor: pointer;
}

.movie-description {
  display: flex;
  flex-direction: row;
  padding: 40px 0px;
}

.movie-poster {
  width: 350px;
  height: 429px;
  margin-right: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.movie-title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin-bottom: 30px;
}

.movie-detail-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--text-main-color);
  border-bottom: 2px solid var(--text-main-color);
  padding: 16px;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.movie-detail-list li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-right: 2px solid var(--text-main-color);
  flex-grow: 1;
  justify-content: center;
}

.movie-detail-list li:last-child {
  border-right: none;
}

.movie-overview {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.312px;
}

.movie-detail-list li:last-child {
  border-right: none;
}

.movie-overview {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.312px;
}

.review-textarea {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 158px;
  border-radius: 20px;
  border: 2px solid var(--text-main-color);
  overflow: hidden;
  position: relative;
}

textarea {
  flex: 1;
  resize: none;
  box-sizing: border-box;
  color: var(--text-main-color);
  font-size: 22px;
  border: none;
  text-align: left;
  padding: 16px;
  outline: none;
}

textarea::placeholder {
  color: rgba(238, 240, 229, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.review-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px;
  height: 48px;
  color: var(--button-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input-list {
  display: flex;
  flex-direction: row;
  height: 48px;
}

.list-name,
.list-pw {
  display: flex;
  flex-direction: row;
  background-color: var(--text-main-color);
  margin-right: 16px;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.list-name span,
.list-pw span {
  display: inline-block;
  background-color: var(--text-main-color);
  border-radius: 10px;
  padding: 1px;
  color: var(--button-text-color);
  margin-right: 10px;
}

.list-name span {
  width: 75px;
}

.list-pw span {
  width: 100px;
}

#input-name,
#input-pw {
  all: unset;
  border-bottom: 2px solid var(--button-text-color);
  color: var(--button-text-color);
}

#reg-btn {
  background-color: var(--text-main-color);
  max-width: 124px;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  color: var(--button-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#review-read {
  display: flex;
  flex-direction: column;
}

.read-detail {
  color: var(--text-main-color);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}

.read-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(238, 240, 229, 0.6);
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.read-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.read-pw {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.read-pw span {
  margin-right: 10px;
}

.input-del-pw {
  all: unset;
  border-bottom: 2px solid var(--text-main-color);
  color: var(--button-text-color);
  margin-right: 16px;
}

.review-del-btn {
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: centerS;
  color: var(--delete-text-color);
}

.read-id{
  display: none;
}

.read-name {
  display: flex;
  flex-direction: row;
}

.read-name span{
  color: rgba(238, 240, 229, 0.52);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 10px;
}



