:root {
  --bg--main-color: #163020;
  --bg--card-color: #102514;
  --bg--search-color: #395a3f;
  --text-main-color: #eef0e5;
  --button-text-color: #4e5968;
  --delete-text-color: #f67777;
  --search-text-color: #889e86;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  /* background-color: aliceblue; */
  background-color: var(--bg--main-color);
  min-height: 100vh;
  color: var(--text-main-color);
}
header {
  padding: 30px 30px;
}
h1 {
  display: inline-block;
  padding: 0 30px;
}
hr {
  color: 2px solid var(--text-main-color);
  margin: 0 40px;
}
#search-form {
  float: right;
  margin: 0 30px;
}

#search-form input {
  /* margin-left: 20px; */
  min-width: 250px;
  padding: 10px 0 10px 10px;
  background-color: var(--bg--search-color);
  text-decoration: var(--search-text-color);
  border: none;
  border-radius: 10px;
}

#search-form button {
  padding: 10px 20px;
  background-color: var(--text-main-color);
  border: none;
  border-radius: 10px;
  color: var(--button-text-color);
  font-weight: bold;
}

#card-list {
  /* font-family: "Playfair Display", serif; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 370px;
  justify-self: center;
  background-color: var(--bg--card-color);
  border: solid 2px var(--text-main-color);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.movie-card:hover {
  width: 380px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  margin-bottom: 10px;
}
p {
  line-height: 25px;
}
