@import url("color.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  /* background-color: aliceblue; */
  background-color: var(--bg--main-color);
  min-height: 100vh;
  color: var(--text-main-color);
}
header {
  padding: 30px 30px 0 30px;
}
h1 {
  display: inline-block;
  padding: 0 30px;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
hr {
  background: rgba(238, 240, 229, 0.1);
  height: 4px;
  border: 0;
  margin: 45px 36px;
}
#search-form {
  float: right;
  margin: 0 30px;
  background-color: var(--bg--search-color);
  border: none;
  border-radius: 20px;
}

#search-form input {
  /* margin-left: 20px; */
  min-width: 270px;
  padding: 10px 0 10px 10px;
  background-color: var(--bg--search-color);
  text-decoration: var(--search-text-color);
  border: none;
  border-radius: 20px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#search-form button {
  padding: 10px 20px;
  background-color: var(--text-main-color);
  border: none;
  border-radius: 20px;
  color: var(--button-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 120.648px;
  height: 55.692px;
  flex-shrink: 0;
}

#card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie-card {
  margin: 20px;
  padding: 26px 43px;
  width: 436px;
  justify-self: center;
  background-color: var(--bg--card-color);
  box-shadow: 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: solid 2px var(--text-main-color);
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}
.movie-card:hover {
  width: 430px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
h1:hover {
  cursor: pointer;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* line-height: 25px; */
}
